/**
 * @file
 * YTPlayer Main CSS
 *
 * This file holds the base CSS for the ytplayer module
 *
 * 
 */



/*SENZA PLAYLIST*/

.playeryoutubeweblitz {border-bottom:2px solid #292929;}

.playeryoutubeweblitz img {border:0;}

.playeryoutubeweblitz #youtubeembed {
background:#3b3b3b;float:left;padding:12px 10px;font-family:arial;}

.playeryoutubeweblitz #divplayer {

background:#000;
color:#fff;
float:left;
}

.playeryoutubeweblitz .playlist {
height:280px;
float:left;
padding:0px 5px;
background:#292929;
overflow: auto;
;}

.playeryoutubeweblitz .containerplaylist {
width:220px;
float:right;
padding:10px;
margin-left:0px;
background:#000;

;}

.playeryoutubeweblitz .item {float:left;margin-bottom:2px;}

.playeryoutubeweblitz .internoplaylist {float:left;background:#292929;padding:5px;}

.playeryoutubeweblitz .thumb {float:left;width:100px;}

.playeryoutubeweblitz .thumb img {float:left;width:95px;}

.playeryoutubeweblitz .info {float:left; margin-left:10px; width:100px;}

.playeryoutubeweblitz .title a {font-size:12px;color:#fff;text-decoration:none;font-weight:bold;}

.playeryoutubeweblitz .duration {background:#2f2d2a;font-size:11px;float:right;font-weight:bold;color:#fff;margin:-20px 7px 0px 0px;padding:0px 3px}

.playeryoutubeweblitz .viewcount {float:left;clear:left;width:80px;padding:0px;font-size:11px;color:#fff;margin-top:5px;}

.playeryoutubeweblitz .jcarousel-skin-tango .viewcount {float:left;clear:left;width:80px;padding:0px;font-size:11px;color:#fff;margin-top:0px;}


/*CON PLAYLIST*/

body.tv .playeryoutubeweblitz {border-bottom:2px solid #292929;}

body.tv .playeryoutubeweblitz img {border:0;}

body.tv .playeryoutubeweblitz #youtubeembed {
background:#fff;float:left;padding:12px 10px;font-family:arial;}

body.tv .playeryoutubeweblitz #divplayer {
background:#fff;
color:#fff;
float:left;

}

body.tv .playeryoutubeweblitz .playlist {
height:310px;
float:left;
padding:0px 5px;
background:#292929;
overflow: auto;
;}

body.tv .playeryoutubeweblitz .containerplaylist {
width:280px;
float:right;
padding:10px;
margin-left:0px;
background:#000;

;}

body.tv .playeryoutubeweblitz .item {float:left;margin-bottom:2px;}

body.tv .playeryoutubeweblitz .internoplaylist {float:left;background:#292929;padding:5px;}
body.tv .playeryoutubeweblitz .thumb {float:left;width:130px;}

body.tv .playeryoutubeweblitz .thumb img {float:left;width:125px;}

body.tv .playeryoutubeweblitz .info {float:left; margin-left:10px; width:100px;}

body.tv .playeryoutubeweblitz .title a {font-size:12px;color:#fff;text-decoration:none;font-weight:bold;}

body.tv .playeryoutubeweblitz .duration {background:#2f2d2a;font-size:11px;float:right;font-weight:bold;color:#fff;margin:-20px 7px 0px 0px;padding:0px 3px}

body.tv .playeryoutubeweblitz .viewcount {float:left;clear:left;width:80px;padding:0px;font-size:11px;color:#fff;margin-top:5px;}

body.tv .playeryoutubeweblitz .jcarousel-skin-tango .viewcount {float:left;clear:left;width:80px;padding:0px;font-size:11px;color:#fff;margin-top:0px;}

body.tv .playeryoutubeweblitz .channel {margin-bottom:10px;}

body.tv .footertop {background:#fff;}